frappe_tsx/public/js/lib/*
frappe_tsx/public/js/frappe_tsx/misc/tests/*
frappe_tsx/public/js/frappe_tsx/views/test_runner.js
frappe_tsx/core/doctype/doctype/boilerplate/*
frappe_tsx/core/doctype/report/boilerplate/*
frappe_tsx/public/js/frappe_tsx/class.js
frappe_tsx/templates/includes/*
frappe_tsx/www/website_script.js
